.l-card {
  padding: 0 20px;
  .card__category {
    display: flex;
    &__title {
      &__link {
        color: map-get($font-color, link-active);
        font-size: map-get($font-size, vlarge);
      }
    }
  }
  .card {
    color: map-get($font-color, primary);
    padding-left: 20px;
    margin-bottom: 20px;
    &__image {
      position: relative;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        & > .card__btn-visualize {
          opacity: 1;
        }
        & > .card__video-time {
          opacity: 0; 
        }
      }
      @media(max-width: 499px) {
        height: 120px;
      }
    }
    &__video-time {
      background-color: #000;
      color: #fff;
      font-weight: 500;
      font-size: map-get($font-size, normal);
      padding: 0 4px;
      bottom: 2px;
      right: 2px;
      height: 14px;
      line-height: 14px;
      position: absolute;
      opacity: .75;
      filter: alpha(opacity=75);
    }
    &__btn-visualize {
      position: absolute;
      bottom: 2px;
      right: 2px;
      opacity: 0;
      &__hidden-text {
        display: none;
      }
      & > .icon {
        margin: 0;
      }
    }
    &__body {
      padding: 5px 20px;
      &__title {
        font-size: map-get($font-size, larger);
        margin: 0;
        &__link:hover {
          color: map-get($font-color, link-default);
          text-decoration: underline;
        }
      }
      &__author {
        font-size: map-get($font-size, medium);
        margin: 5px 0;
      }
      &:hover {
        color: map-get($font-color, link-default);    
      }
    }
  }
}