.search-bar {
  max-width: 650px;
  overflow: hidden;
  padding: 0;
  position: relative;
  &__content {
    background-color: map-get($background-color, secondary);
    height: 30px;
    line-height: map-get($line-height, very-extended);
    overflow: hidden;
    position: relative; 
    border: 1px solid map-get($border-color, alternative);
    box-shadow: inset 0 1px 2px map-get($border-color, secondary);
    &__label {
      display: none;
    }
    &__input {
      background: transparent;
      border: 0;
      display: inline-block;
      font-size: map-get($font-size, xlarger);
      height: 100%;
      left: 0;
      margin: 0;
      outline: none; 
      padding: 2px 6px;
      position: absolute;
      width: 100%;
    }
  }
  &__btn {
    border: solid 1px transparent;
    border-color: map-get($border-color, light);
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
    padding: 5px 26px;
    height: 30px;
    cursor: pointer;
    &__text {
      display: none;
    }
    & > .icon {
      margin: 0;
    }
  }
}